In [6]:
import pandas as pd

# Read the file and use the second row as header
df_passing = pd.read_csv("seriea_2024_2025_stats/passing.csv", header=1)

# Drop any rows where 'Player' column is literally "Player" again (repeated header inside data)
df_passing = df_passing[df_passing['Player'] != 'Player'].reset_index(drop=True)

# Preview
print(df_passing.shape)
df_passing.head()

(634, 32)

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Cmp,Att,...,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP,Matches
0,1,James Abankwah,ie IRL,"DF,MF",Udinese,20,2004,1.0,36,46,...,0,0.0,0.0,0.0,0,2,0,0,4,Matches
1,2,Saud Abdulhamid,sa KSA,DF,Roma,25,1999,2.3,118,136,...,1,0.2,0.2,+0.8,2,4,4,2,9,Matches
2,3,Oliver Abildgaard,dk DEN,MF,Como,28,1996,0.1,1,1,...,0,0.0,0.0,0.0,0,0,0,0,0,Matches
3,4,Tammy Abraham,eng ENG,FW,Roma,26,1997,0.0,1,3,...,0,0.0,0.0,0.0,0,1,0,0,1,Matches
4,5,Tammy Abraham,eng ENG,FW,Milan,26,1997,13.1,152,221,...,4,2.2,1.3,+1.8,14,13,10,0,26,Matches